# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\office\GitHubDemo\nettyDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
